<html>
<head>
	<meta charset="UTF-8"> 
  
<body>  
 <% include common/navbar.ejs %>  
 <% include common/mainpage.ejs %> 
 
    
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/jslead.js"></script>
  	</body>
</html>
